html {
    overflow-y: scroll;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar-header {
    color: #fff;
    text-align: center;
    width: 100%;
}

.col-md-2-5 {
    width: 20%;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

.category {
    text-align: center;
}

button.question {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

.modal {
    position: absolute;
    overflow: inherit;
}


.modal-header {
    min-height: 50px;
}

.modal-frage, .modal-antwort {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.modal-frage > pre, .modal-antwort > pre {
    font-size: inherit;
    margin: 30px;
    font-weight: bold;
}

.modal-footer {
    text-align: center;
}

#question-modal-dialog {
    width: 1024px;
}

#answer-modal-dialog {
    width: 1200px;
}

















